Cryptanalysis/Hash - DCC/rockyou.txt
Cryptanalysis/Hash - DCC2/rockyou.txt
Cryptanalysis/Hash - LM/rockyou.txt
Cryptanalysis/Hash - MD5/rockyou.txt
Cryptanalysis/Hash - NT/rockyou.txt
Cryptanalysis/Hash - NT/hash.txt
Cryptanalysis/Hash - SHA2/rockyou.txt
Programming/TCP - Back To School/importSocket.py
Programming/TCP - Encoded String/importSocket.py
Steganography/Tools/infos.txt
Steganography/Tools/infosImage.py
Steganography/Tools/infosImage2.py
Web - Server/HTTP - Open Redirect/memo.txt
Web - Server/HTTP - Open Redirect/rootme.txt
Web - Server/Weak Password/memo.txt
Web - Server/PHP - Command injection/memo.txt
Web - Client/Javascript - Native code/memo.txt
Web - Client/Javascript - Native code/rappel.png